/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'affectli';
@reset      : 'affectli';

/* Elements */
@button     : 'affectli';
@container  : 'affectli';
@divider    : 'affectli';
@flag       : 'affectli';
@header     : 'affectli';
@icon       : 'affectli';
@image      : 'affectli';
@input      : 'affectli';
@label      : 'affectli';
@list       : 'affectli';
@loader     : 'affectli';
@rail       : 'affectli';
@reveal     : 'affectli';
@segment    : 'affectli';
@step       : 'affectli';

/* Collections */
@breadcrumb : 'affectli';
@form       : 'affectli';
@grid       : 'affectli';
@menu       : 'affectli';
@message    : 'affectli';
@table      : 'affectli';

/* Modules */
@accordion  : 'affectli';
@checkbox   : 'affectli';
@dimmer     : 'affectli';
@dropdown   : 'affectli';
@embed      : 'affectli';
@modal      : 'affectli';
@nag        : 'affectli';
@popup      : 'affectli';
@progress   : 'affectli';
@rating     : 'affectli';
@search     : 'affectli';
@shape      : 'affectli';
@sidebar    : 'affectli';
@sticky     : 'affectli';
@tab        : 'affectli';
@transition : 'affectli';

/* Views */
@ad         : 'affectli';
@card       : 'affectli';
@comment    : 'affectli';
@feed       : 'affectli';
@item       : 'affectli';
@statistic  : 'affectli';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../../src/app/styles/semantic-ui/themes';

/* Path to site override folder */
@siteFolder  : '../../../src/app/styles/semantic-ui/site';


/*******************************
         Import Theme
*******************************/
@import "~semantic-ui-less/theme.less";
@fontPath : "../../../src/app/assets/fonts";
/* End Config */